.nav-container { background:#eaeaea; position: relative;  z-index: 4; }
.sf-menu {  background:#FBFBFB;  border: 1px solid #ddd; display:none; }
.sf-menu li {
  float: left;
  text-align: left;
  position: relative;
  border-right: 1px solid #ddd;
  z-index: 99;
}
.sf-menu li.parent {z-index: 999;}
.sf-menu li a {
  display: block;
  color: #383737;
  text-decoration: none;
  position: relative;
  padding: 0;
  text-transform: capitalize;
}
.sf-menu > li > a > span {
  display: block;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  padding: 16px 20px 14px;
}
.sf-menu li ul a span {  white-space: normal;}
.sf-menu > li.parent > a:before { content: "\f103"; position: absolute; bottom: 0; width: 100%; text-align: center;}

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {background: #fff;}

.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
  display: none;
  background: #fff;
  box-shadow:0 4px 8px rgba(0,0,0,0.12);
  -moz-box-shadow:0 4px 8px rgba(0,0,0,0.12);
  -webkit-box-shadow:0 4px 8px rgba(0,0,0,0.12);
}
.sf-menu li li {  border: 1px solid #ddd; border-bottom-width: 0;}
.sf-menu li li.parent > a:before { content: "\f101"; float: right; }
.sf-menu li li.last {  border-bottom-width: 1px;}
.sf-menu li li {  position: relative; float: none;}
.sf-menu li li a {
  display:block;
  background: none;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  padding:6px 15px;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {  color: #B90100;}

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0px;
  top: 47px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
@media only screen and (min-width: 992px) {
    #menu-icon,
    .sf-menu-phone,
    .sf-menu-block {  display: none !important;}

}
@media only screen and (max-width: 991px) {
  .sf-menu,
  .sf-menu-phone {display: none;}
  /* menu icon */
 .sf-menu-block {display: block; position: relative;}
  #menu-icon {
    display: block;
    background:#FBFBFB;
    border: 1px solid #bbbbbb;
    font-size: 17px;
    line-height: 21px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
				color:#777;

  }
  #menu-icon:before {content: "\f055"; font-size: 25px; line-height: 50px; float: right; }
  #menu-icon.active:before { content: "\f056"; }

  .sf-menu-phone {
    background: #fff;
    border: 1px solid #bbbbbb;
    border-top: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    moz-box-sizing:border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
  }
  .sf-menu-phone li {  position: relative; font-family: 'Roboto', sans-serif; }
  .sf-menu-phone > li { border-bottom: 1px solid #bbbbbb; padding: 10px 20px; font-size: 18px; }
  .sf-menu-phone > li.last {border-bottom: 0;}
  .sf-menu-phone li a { display: inline-block;  color: #777;  }
  .sf-menu-phone li a:hover { color: #333; }
  .sf-menu-phone li li {font-size: 13px; padding: 4px 8px; }
  .sf-menu-phone li li.last {padding-bottom: 10px;}
  .sf-menu-phone li li:first-child {padding-top: 10px;}
  .sf-menu-phone li li:first-child strong {top:10px;}
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    top: 4px;
    right: 5px;
    width: 24px;
    font-size: 16px; 
    line-height: 16px;
    text-align: center;
  }
  .sf-menu-phone > li > strong {top: 9px; right: 18px; font-size: 20px; line-height: 20px;}
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong:before {content: "\f067"; }
  .sf-menu-phone li strong.opened:before { content: "\f068"; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto; border: 1px solid #ccc; margin:10px 0 0 0 ;  display: none;  }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  
  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover {  }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.nav-container { padding-bottom:20px; }
}
@media only screen and (max-width: 767px) { 
   .sf-menu-block {margin: 0;}
			.nav-container { background:none;  padding-bottom:20px; }
}
/* --------- side -------------- */
.sf-menu-phone2 li { display:block; position:relative; border-bottom:solid 1px #bbbbbb; padding:9px 15px 14px 0; font-family: 'Roboto', sans-serif; font-size:17px; font-weight:normal; }
.sf-menu-phone2 li.last { border:0; }
.sf-menu-phone2 li a { color:#777777; }
.sf-menu-phone2 li a:hover { color:#333333; }

.sf-menu-phone2 li li { display:block; padding:0 0 0 14px; border:0; background:url(../images/nav_arr.png) no-repeat 0 7px; font-size:14px; }
.sf-menu-phone2 li li a {  }
.sf-menu-phone2 li li a:hover {  }

.sf-menu-phone2 li ul { display:none; padding:0 0 0 19px; margin:14px -15px 0 0; border-top:solid 1px #bbbbbb; position:relative; z-index:1; overflow:hidden; }
.sf-menu-phone2 li ul li.first { margin-top:18px; }
.sf-menu-phone2 li ul li.last { padding-bottom:8px; }
.sf-menu-phone2 li strong {
    position: absolute;
    display: block;
    top: 4px;
    right: 5px;
    font-size: 19px !important; 
    line-height: 19px !important;
    text-align: center;
  }
  .sf-menu-phone2 > li > strong {top: 10px; right:0; color:#777; }
		.sf-menu-phone2 > li:hover > strong { color:#333; }
  .sf-menu-phone2 li strong:hover { cursor: pointer; }
  .sf-menu-phone2 li strong:before {content: "\f107"; }
  .sf-menu-phone2 li strong.opened:before { content: "\f106"; }
		
		
		
		
		
 
