<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<div class="block block-sale">
        <div class="block-title">
            <strong><span><?php echo $this->__('Specials') ?></span></strong>
        </div>
        <div class="block-content">
            <?php $suffix = $this->getNameInLayout(); ?>
            <?php foreach ($_products->getItems() as $_product): ?>
                <div class="item_sale">
                    <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(228) ?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" /></a>
                    <div class="product-shop">
                            <p class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>)"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></p>
                            <div class="desc_grid">
                            <?php $small_getDescription = strip_tags($_product->getShortDescription());
                            if (strlen($small_getDescription) < 70) echo($small_getDescription);
                            else { echo mb_substr($small_getDescription, 0, 30,'UTF-8').'...';} ?>
                            </div>
                            <?php echo $this->getPriceHtml($_product, true, '-widget-catalogsale-'.$suffix) ?>
                    </div>
                      <?php $_product = Mage::getModel('catalog/product')->load($_product->getId()); ?>
                      <div class="label-product">             
                          <?php if($_product->getData('new')){echo '<span class="new">'.$this->__('New').'</span>';  }?>
                          <?php if($_product->getData('sale')){echo '<span class="sale">'.$this->__('Sale').'</span>';  }?>
                      </div>
                </div>
            <?php endforeach; ?>
            <script type="text/javascript">decorateList('widget-catalogsale-products-<?php echo $suffix; ?>', 'none-recursive')</script>
        </div>
</div>
<?php endif; ?>
